# On strings, note the following: only lowercase alphanumeric characters, hyphens, underscores, periods, and spaces allowed.

aws_region = "<aws region>"

aws_az1 = "<aws az1>"
aws_az2 = "<aws az2>"

mgmt_vpc_name = "<name of mgmt VPC>"
private_mgmt_zone_name = "<dns zone name>"