# On most strings, note the following: only lowercase alphanumeric characters, hyphens, underscores, periods, and spaces allowed.

aws_region = "<aws region>"

aws_az1 = "<aws az1>"
aws_az2 = "<aws az2>"

mgmt_vpc_name = "<name of mgmt VPC>"

# Type: String (but make it a CIDR range like 10.0.0.0/16)
mgmt_vpc_cidr = "<cidr range>"

# Type: List (but make it a CIDR range like 10.0.0.0/16)
mgmt_public_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: List (but make it a CIDR range like 10.0.0.0/16)
mgmt_private_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: List, comma-delimited (but make them a CIDR range like 10.0.0.0/16)
mgmt_database_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: string, only "true" or "false" valid
mgmt_nat_gateway = "<true or false>"

# Type: string, only "true" or "false" valid
mgmt_dns_hostnames = "<true or false>"

# Type: string, only "true" or "false" valid
mgmt_dns_support = "<true or false>"

# Type: string, it's a DNS zone name so don't get crazy
private_mgmt_zone_name = "<dns zone name>"

# Type: string, just a name for the log group name for the MGMT VPC
mgmt_flow_log_group_name = "<name_of_a_log_group>"

# Type: String, note restrictions above
app_vpc_name = "<name of mgmt VPC>"

# Type: String (but make it a CIDR range like 10.0.0.0/16)
app_vpc_cidr = "<cidr range>"

# Type: List (but make it a CIDR range like 10.0.0.0/16)
app_public_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: List (but make it a CIDR range like 10.0.0.0/16)
app_private_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: List, comma-delimited (but make them a CIDR range like 10.0.0.0/16)
app_database_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: string, only "true" or "false" valid
app_nat_gateway = "<true or false>"

# Type: string, only "true" or "false" valid
app_dns_hostnames = "<true or false"

# Type: string, only "true" or "false" valid
app_dns_support = "<true or false>"

# Type: string, it's a DNS zone name so don't get crazy
public_app_zone_name = "<dns zone name>"

# Type: string, just a name for the log group name for the MGMT VPC
app_flow_log_group_name = "<name_of_a_log_group>"

# Type: string, just a name for the IAM role that will be attached to the VPC logging. Cannot contain underscores.
devsecops_iam_log_role_name = "<name-for-iam-log-role>"

# Type: string, just a name for the log policy to attach to the VPCs. Cannot contain underscores.
devsecops_flow_log_policy = "<name-for-flow-log-policy>"
