// Draft US Web Design Standards
@import '../../node_modules/uswds/src/stylesheets/all';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import './mermaid';
@import './shell';

.scuttle-stage,
.scuttle-legend {
  background: $color-gray-lightest;

  font-family: $font-sans;

  .label {
    color: $color-white;

    overflow-wrap: break-word;
    word-break: break-word;

  }

}

.scuttle-stage {
  overflow-x: scroll;
  min-height: 999px;
}

.scuttle-legend .edgeLabel {
  line-height: 1.75;
}

.cluster {

  rect {
    fill: $color-gray-lightest !important;
    stroke: $color-primary !important;
    stroke-width: 2px !important;
  }

  text {
    @include h4;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 17px;
  }

}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: $color-primary;
  stroke: $color-primary-darkest;
  stroke-width: 2px;
}

.node .label {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: rgb(255, 255, 255);
}

.edgePath .path {
  stroke: $color-primary-darkest !important;
  stroke-width: 2px !important;
}

.edgePath marker path {
  fill: $color-primary-darkest !important;
}

.edgeLabel {
  background-color: $color-white;
  border: $color-white 5px solid;
  color: $color-black;
  &:empty {
    border: none;
  }
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-family: 17px;
}

rect {

  fill: $color-primary;
  stroke: $color-primary-darkest;
  stroke-width: 2px;

  &.note {

    fill: $color-primary-alt-lightest;
    stroke: $color-primary-alt-light;
    stroke-width: 2px;

  }

  &.labelBox {
    fill: $color-primary-darker;
    stroke: $color-primary;
  }

  &.actor {

    fill: $color-primary;
    stroke: $color-primary-darkest;

  }

}

#crosshead,
#arrowhead{

  path {

    fill: $color-primary-darkest;

  }

}

line {

  &[class^=messageLine],
  &.actor-line {

    fill: $color-primary-darkest;
    stroke: $color-primary-darkest;
    stroke-width: 2px;

  }

  &.loopLine {

    fill: $color-primary-darkest;
    stroke: $color-primary;
    stroke-width: 2px;

  }

}

text {

  &.messageText {

    font-family: $monospace;
    text-shadow: 2px 2px 0 $color-white, 1px 1px 0 $color-gray;
    fill: $color-primary-alt-darkest;
    font-size: 1rem;

  }

  &.actor {
    fill: $color-white;
  }

  &.noteText {
    fill: $color-base;
    font-size: 1.25rem;
  }

  &.labelText {
    font-family: $font-serif;
    fill: $color-gray-cool-light;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  &.loopText {
    font-family: $font-serif;
    font-size: 1rem;
    font-style: oblique;
  }

}
